#items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    width: 85%;
    margin: 0 auto;
}
#item-details{
    display: none;
    margin: 25px auto;
    width: 30%;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px gray;

}
.food-items{
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 10px gray;
    overflow: hidden;
}

.food-items h4{
    padding: 15px;
}
.food-items:hover{
    box-shadow: 3px 3px 12px tomato;
    transform:scale(1.05);
    transition:ease-in-out .2s;         
}

.top-nav{
    font-weight: 600;
    background-color:whitesmoke;
}
